$font-size-lg: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: 0.75rem;

$font-weight-lg: 700;
$font-weight-md: 500;

$line-height-lg: 32px;
$line-height-md: 24px;
$line-height-sm: 20px;

@mixin project-style($color, $type) {
    border-top: 4px solid $color;
    background-color: $very-light-gray;
    border-radius: 8px;
    min-height: 252px;
    max-height: 252px;
    min-width: 400px;
    max-width: 400px;
    background-repeat: no-repeat;
    box-shadow: 0 14px 20px -6px $grayish-blue;
    @if $type == karma {
        background-image: url("../../../images/icon-karma.svg");
        background-position: 94% 86%;
    }
    @if $type == supervisor {
        background-image: url("../../../images/icon-supervisor.svg");
        background-position: 92% 86%;
    }
    @if $type == team-builder {
        background-image: url("../../../images/icon-team-builder.svg");
        background-position: 94% 90%;
    }
    @if $type == calculator {
        background-image: url("../../../images/icon-calculator.svg");
        background-position: 94% 90%;
    }
}